---
layout: default
title: 全部文章
description: 博客首页
nav: home
---



<div>
    <ul class="m-list">
    {% for post in site.posts %}
        <li class="list-item">
            <a href="{{ post.url }}">
                <time class="date">{{ post.date|date:"%Y-%m-%d" }}</time>
                <p class="item-name"> - {{ post.title }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
