---
layout: page
title: 标签
description: 文章标签
---

<div class="m-tag-list">
{% for tag in site.tags reversed %}
  <a href="#{{ tag[0] }}">{{ tag[0] }}</a>
{% endfor %}
</div>

<ul class="m-suplist">
{% for tag in site.tags reversed %}
  <li class="suplist-item">
      <h3 id="{{ tag[0] }}" class="suplist-name"><i class="fa fa-tag fa-fw"></i>{{ tag[0] }}</h3>
      <ul class="m-list">
      {% for post in tag[1] %}
        <li class="list-item">
          <a href="{{ post.url }}">
          <p class="item-name">{{ post.title }}</p>
          <time class="date">{{ post.date|date:"%Y-%m-%d" }}</time>
          </a>
        </li>
      {% endfor %}
      </ul>
  </li>
{% endfor %}
</ul>
