@charset "utf-8";

.m-home{
    .article{
        margin-bottom: .5rem;
        .article-title{
            font-size: .22rem;
            color: #333;
            margin-bottom: .05rem;
        }
        .post-date{
            font-size: .12rem;
            color: #999;
        }
        .category{
            font-size: .12rem;
            margin: .1rem 0;
        }
        .excerpt{
            color: #666;
            line-height: 2em;
            margin-bottom: .1rem;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}
