@charset "utf-8";


.m-list {
    margin: 0;
    .list-item {
        list-style: none;
        text-indent: 0;
        border-bottom: 1px dashed #ccc;
    }
    .item-name {
        display: inline;
        color: inherit;
    }
    .date {
        font-size: .9em;
        display: inline;
        color: inherit;
    }
    a {
        display: block;
        padding: .25rem 0 .05rem 0;
        text-decoration: none;
    }


}


/*--------------------------*/

.m-tag-list {
    margin-bottom: .2rem;
    a {
    	padding: .01rem .1rem;
        border: 1px solid #d9d9d9;
        border-radius: .05rem;
        box-sizing: border-box;
        font-size: .12rem;
        font-weight: normal;
        line-height: .2rem;
        display: inline-block;
        margin-bottom: .1rem;

        &:hover,
        &.active {
            color: #fff;
            background-color: #555;
        }
    }
}


.m-suplist {
    .suplist-name {
    	padding: .4rem 0 0 0;
        font-size: 1.2em;
        i {
            padding-right: .1rem;
        }
        &:target{
            color: $active-color;
        }
    }

    .suplist-item {
        list-style: none;
    }
}
