@charset "utf-8";


html {
    font-size: 100px;
}

body{
    font-size: .14rem;
    position: relative;
    min-height: 100vh;
}

a {
    transition: color 300ms;
    color: #000;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: $active-color;
    }
}

@each $header, $size in (h1: 2em, h2: 1.6em, h3: 1.4em, h4: 1.2em) {
  #{$header} {
    font-size: $size;
  }
}

.wrap {
    margin: auto;
    width: 900px;
}

@each $max-width, $width in (1400px: 70%, 1023px: 80%, 768px: 95%) {
  @media screen and (max-width: $max-width) {
      .wrap {
          width: $width;
      }
  }
}





/* container layout */
.m-main {
    padding-bottom: 2.2rem;
    .m-page-header {
        margin-bottom: .5rem;
        padding-bottom: .1rem;
        border-bottom: 1px solid #ccc;
        h1{
            font-size: .22rem;
        }
    }
}

.to-top{
    position: fixed;
    bottom: .4rem;
    right: .1rem;
    width: .3rem;
    text-align: center;
    height: .3rem;
    border-radius: .05rem;
    background-color: rgba(170, 170, 170 , 0.5);
    line-height: .3rem;
    cursor: pointer;
    transform: translateZ(0);
}