@charset "utf-8";

$active-color: #e50053;
$font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
$code-font-family: Consolas,Menlo,Monaco,Courier New,monospace;